.wrapper {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
}

/* CSS for unordered list */
.wrapper ul {
    list-style-type: none;
    padding: 0;
}

/* CSS for list items */
.wrapper ul li {
    margin-bottom: 10px;
    background-color: #ddd;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}
.btn-information{
    padding: 20px 10px 20px 10px;
    margin: 20px;
    border: 2px solid rgb(136, 136, 102);
    border-radius: 5px;
    color: rgb(6, 103, 67);
    font-weight: bold;
}