.wrapper {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
}

/* CSS for unordered list */
.wrapper ul {
    list-style-type: none;
    padding: 0;
}

/* CSS for list items */
.wrapper ul li {
    margin-bottom: 10px;
    background-color: #ddd;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}